{:duct.profile/base
 {:duct.core/project-ns hello2

  :duct.handler/root
  {:router #ig/ref :duct.router/reitit}

  ;routes
  :duct.router/reitit
  {:routes ["/" {:handler #ig/ref :hello2.handler.speak/say-something}]}

  ;handlers
  :hello2.handler.speak/say-something {:message "Hi Dave"}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site
 {}}
